/*
re: 
https://stackblitz.com/edit/dynamic-nested-sidenav-menu?file=app%2Fapp.component.ts,app%2Fmenu-list-item%2Fmenu-list-item.component.scss
*/
:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
}

:host:hover, :host:focus {
    background-color: lightgray;

}

.mat-list-item {
    padding: 8px 0;
    display: flex;
    width: auto;
}

.mat-list-item-content {
    flex: 1 1 100%;
}

.routeIcon {
    margin-right: 40px;
}