<mat-toolbar color="primary">
    top
    <span class="currentPuzzle" (click)="navService.openNav()">{{this.navService.getPuzzleDescription()}}</span>
    <button #stepBtn [disabled]="navService.stateBehavior.getValue() === PUZZLE_STATE().DISABLED" 
        mat-icon-button
        (click)="step()">
        <mat-icon>skip_next</mat-icon>
    </button>
    <button #playBtn [disabled]="navService.stateBehavior.getValue() === PUZZLE_STATE().DISABLED"
        mat-icon-button
        (click)="playPause()">
        <mat-icon>{{playIcon}}</mat-icon>
    </button>
    <mat-checkbox #autoPlayCB (change)="savePreferences($event)" [(ngModel)]='navService.auto'>Auto</mat-checkbox> &nbsp; 
    <span>Input File: </span>
    <button *ngFor="let file of navService.files" (click)="navService.selectFile(file)">{{file}}</button>
</mat-toolbar>