<mat-toolbar color="primary" style="height: unset;">
    top
    <span class="currentPuzzle" (click)="navService.openNav()">{{this.navService.getPuzzleDescription()}}</span>
    <span class="puzzleIndex">{{ this.navService.getPuzzleIndex() }}</span>
    <button #stepBtn [disabled]="navService.stateBehavior.getValue() === PUZZLE_STATE().DISABLED" 
        mat-icon-button
        (click)="step()">
        <mat-icon>skip_next</mat-icon>
    </button>
    <button #playBtn [disabled]="navService.stateBehavior.getValue() === PUZZLE_STATE().DISABLED"
        mat-icon-button
        (click)="playPause()">
        <mat-icon>{{playIcon}}</mat-icon>
    </button>
    <mat-checkbox #autoPlayCB (change)="savePreferences($event)" [(ngModel)]='navService.auto'>Auto</mat-checkbox> &nbsp; 
    <span>Input File: </span>
    <mat-button-toggle-group [(ngModel)]="inputFile" name="inputFile" aria-label="Input File">
        <mat-button-toggle class="inputButton" *ngFor="let file of navService.files" (click)="selectFile(file)" value="{{file}}">{{file}}</mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>